<h2 mat-dialog-title class="form-dialog header-color">{{ isEdit ? 'Edit': 'Add'}} Foreman Work Order</h2>
<mat-dialog-content class="form-dialog mat-typography dialog-content">

    <div class="form-container">
        <div class="main-form">
            <div class="form-header">Foreman Work Order</div>
            <form [formGroup]="modalForm.main.form">
                <formly-form [model]="modalForm.main.model" [fields]="modalForm.main.fields"
                    [options]="modalForm.main.options" [form]="modalForm.main.form"></formly-form>
            </form>
        </div>
        <div class="child-form">
            <div class="form-header">Foreman Work</div>
            <div class="child-form-container">
                <form [formGroup]="modalForm.child.form">
                    <formly-form [model]="modalForm.child.model" [fields]="modalForm.child.fields"
                        [options]="modalForm.child.options" [form]="modalForm.child.form"></formly-form>
                </form>
            </div>
            <button style="float: right;background-color: #a0aec0" (click)="onSaveBtnClick()" mat-button
                class="save">{{ isEdit ? 'Update' : 'Add' }}</button>

            <table class="table-compnay" mat-table [dataSource]="dataSource">
                <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="column.field !== 'action'">
                            {{element[column.field]}}
                        </ng-container>
                        <ng-container *ngIf="column.field === 'action'">
                            <mat-icon (click)="openDialog(element)">edit</mat-icon>
                            <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
            </table>
            <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="form-dialog" align="end">
    <button (click)="onSaveBtnClick()" mat-button class="save">Save</button>
    <button mat-button (click)="onCancelBtnClick()" cdkFocusInitial class="cancel">Cancel</button>
</mat-dialog-actions>