.btn-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

tr {
    cursor: pointer;
}

th {
    width: 22%;
}

th:first-child {
    width: 10%;
}

.margin-right-30 {
    margin-right: 30px;
}

.info-text {
    font-size: 11px;
    padding: 20px 0px;
    text-align: center;
    color: rgba(0, 0, 0, .6);
}

.total-input-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.total-input-box input {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}