.table-compnay .mat-icon {
    color: #3182ce;
}

.table-compnay .mat-icon+.mat-icon {
    margin-left: 12px;
}

th:last-child {
    width: 100px;
}

.add-button {
    position: absolute;
    right: 50px;
    top: 25px;
    color: #3182ce;
    border-radius: 0;
}