<div class="normal-project-component form-dialog">
    <h2 style="display: flex;margin: 0;" mat-dialog-title class="form-dialog header-color">
        <div style="margin-right: auto;">Normal Project</div>
        <mat-icon (click)="onCancelBtnClick()" style="padding: 4px;">close</mat-icon>
    </h2>
    <form *ngIf="form" [formGroup]="form">
        <mat-horizontal-stepper>
            <mat-step *ngFor="let step of steps; let index = index; let last = last;">
                <ng-template matStepLabel>{{ step.label }}</ng-template>
                <div class="stepper-container">

                    <formly-form [form]="form.at(index)" [model]="model" [fields]="step.fields" [options]="options[index]">
                    </formly-form>

                    <ng-container *ngIf="step.id === 'projectconsultancy'">
                        <div class="" style="display: flex;justify-content: flex-end;">
                            <button (click)="onAddConsultancyWorkBtnClick()" mat-button class="save">Add</button>
                        </div>
                        <div>
                            <table class="table-compnay" mat-table [dataSource]="consultancyDatasource">
                                <ng-container [matColumnDef]="column.field" *ngFor="let column of consultancyTableColumns;let firstColumn = first">
                                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                                    <td mat-cell *matCellDef="let element;let i =index">
                                        <ng-container *ngIf="firstColumn">
                                            {{i + 1}}
                                        </ng-container>
                                        <ng-container *ngIf="!firstColumn">
                                            <ng-container *ngIf="column.field !== 'action'">
                                                {{element[column.field]}}
                                            </ng-container>
                                            <ng-container *ngIf=" column.field === 'action'">
                                                <mat-icon (click)="openDialog(element)">edit</mat-icon>
                                                <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="consultancyDatacolumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: consultancyDatacolumns;"></tr>
                            </table>
                        </div>
                        <div style="display: flex;justify-content: flex-end;">
                            <mat-form-field style="margin-right: 20px">
                                <mat-label>Payment Type</mat-label>
                                <mat-select (selectionChange)="onConsultanyPaymentModeSelection($event.value)">
                                    <mat-option *ngFor="let payment of paymentDataset" [value]="payment.id">
                                        {{payment.paymentMode}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Total</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="step.id === 'stagework'">
                        <div class="" style="display: flex;justify-content: flex-end;">
                            <button (click)="onAddStageBtnClick(form.at(index))" mat-button class="save">Add</button>
                        </div>
                        <div>
                            <table class="table-compnay" mat-table [dataSource]="stageDatasource">
                                <ng-container [matColumnDef]="column.field" *ngFor="let column of stageTableColumns;let firstColumn = first">
                                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                                    <td mat-cell *matCellDef="let element;let i =index">
                                        <ng-container *ngIf="firstColumn">
                                            {{i + 1}}
                                        </ng-container>
                                        <ng-container *ngIf="!firstColumn">
                                            <ng-container *ngIf="column.field !== 'action'">
                                                {{element[column.field]}}
                                            </ng-container>
                                            <ng-container *ngIf=" column.field === 'action'">
                                                <mat-icon (click)="openDialog(element)">edit</mat-icon>
                                                <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="stageDatacolumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: stageDatacolumns;"></tr>
                            </table>
                        </div>
                        <div style="display: flex;justify-content: flex-end;">
                            <mat-form-field>
                                <mat-label>Total</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                    </ng-container>

                </div>
                <div align="end">
                    <button class="button-info" type="button" mat-button *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Back</button>
                    <button class="button-info" type="button" *ngIf="!last" matStepperNext mat-button [disabled]="form.at(index) && !form.at(index).valid" (click)="nextStep(index)">Next</button>
                    <button class="button-success" type="submit" (click)="onSaveBtnClick()" *ngIf="last" mat-button [disabled]="!form.valid">Submit</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>