<h2 mat-dialog-title class="form-dialog header-color">{{ isEdit ? 'Edit' : 'Add' }} Base Rate </h2>
<mat-dialog-content class="form-dialog mat-typography dialog-content dialog-dimension">
    <form id="modal-form" [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="form-dialog" align="end">
    <button form="modal-form" (click)="onSaveBtnClick()" mat-button class="save">Save</button>
    <button mat-button (click)="onCancelBtnClick()" cdkFocusInitial class="cancel">Cancel</button>
</mat-dialog-actions>