tr {
    cursor: pointer;
}

.margin-right-30 {
    margin-right: 30px;
}

.main-table th {
    width: 20%;
}

.main-table th:first-child,
.main-table th:last-child {
    width: 10%;
}

.details-table th {
    width: 30%;
}

.details-table th:first-child {
    width: 10%;
}