.form-child {
    max-height: 28vh;
    min-height: 45vh;
    /* overflow: auto; */
    width: 86vw;
}

.form-title {
    color: #3182ce;
    position: relative;
    top: 11px;
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    font-size: 10px;
    margin-left: 10px;
}

.form-container {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 10px;
    padding: 10px;
    width: 86vw;
}

::ng-deep .cdk-overlay-pane {
    max-width: 95vw!important;
    width: 95vw;
}

.inner-table-container {
    max-height: 30vh;
    overflow: auto;
    width: 100%;
}

.add-block {
    float: right;
    margin-bottom: 20px;
}

::ng-deep .mat-paginator-icon {
    color: rgba(0, 0, 0, 0.54);
}