.mat-dialog-content {
    height: 75vh;
    max-height: 75vh;
}

.main-form {
    flex: 1;
    overflow: auto;
    max-height: 45vh;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 10px;
}

.child-form {
    flex: 3;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, .12);
}

.child-form-container {
    overflow: auto;
    max-height: 39vh;
}

.form-header {
    position: absolute;
    top: 75px;
    color: #3182ce;
    font-size: 11px;
    background-color: #fff;
    padding: 0 10px;
}

.own-project-component ::ng-deep.mat-form-field-infix {
    width: 100px;
}

.unit-total-field {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.unit-total-field ::ng-deep .mat-form-field-flex {
    background-color: #E8E8E8;
    cursor: not-allowed;
}