<!-- <h2 mat-dialog-title class="form-dialog header-color"> Stage Work</h2> -->
<!-- <mat-dialog-content class="form-dialog mat-typography dialog-content"> -->

    <!-- <div> -->

        <div style="display: flex">
            <div class="main-form">
                <div class="form-header">Consultancy</div>
                <form [formGroup]="modalForms.main.form">
                    <formly-form [model]="modalForms.main.model" [fields]="modalForms.main.fields"
                        [options]="modalForms.main.options" [form]="modalForms.main.form"></formly-form>
                </form>
            </div>
            <div class="child-form">

                <div class="form-header">Stage</div>

                <div class="child-form-container">

                    <form [formGroup]="modalForms.child.form">
                        <formly-form [model]="modalForms.child.model" [fields]="modalForms.child.fields"
                            [options]="modalForms.child.options" [form]="modalForms.child.form"></formly-form>
                    </form>
                </div>
                <button style="float: right;background-color: #a0aec0" (click)="onSaveBtnClick()" mat-button
                    class="save">{{ isEdit ? 'Update' : 'Add' }}</button>
            </div>
        </div>

        <div style="margin-top: 20px" class="main-form">

            <div style="top: 471px" class="form-header">Added Stages</div>


            <table class="table-compnay" mat-table [dataSource]="dataSource">
                <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="column.field !== 'action'">
                            {{element[column.field]}}
                        </ng-container>
                        <ng-container *ngIf="column.field === 'action'">
                            <mat-icon (click)="openDialog(element)">edit</mat-icon>
                            <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
            </table>
            <!-- <div *ngIf="true">
                        No data 
                    </div> -->
            <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>


    <!-- </div> -->

<!-- </mat-dialog-content>
<mat-dialog-actions class="form-dialog" align="end">
    <button (click)="onSaveBtnClick()" mat-button class="save">Save</button>
    <button mat-button (click)="onCancelBtnClick()" cdkFocusInitial class="cancel">Cancel</button>
</mat-dialog-actions> -->