.module-default{
  display: flex;
  flex-flow: column;
}
.dashboard-header{
  flex: none;
  font-size: 1.2rem;
  color: #5d5d5d;
  font-weight: 500;
  padding: .8rem .5rem;
  text-transform: uppercase;
}
.dashboard-content{
  flex: 1 1 auto;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.card{
  display: flex;
  flex-flow: column;
  min-height: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15)
}
.card-header{
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px 4px;
}
.card-header .main{
  flex: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: .84rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}
.card-header .sub{
  font-size: .8rem;
  font-style: italic;
  color: #4c4c4c;
  text-align: right;
  line-height: 1;
}
.card-header .mat-icon{
  color: #3182ce;
  cursor: default;
}
.card-body{
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}
.card-footer{
  height: 10px;
  flex: none;
}
tr.mat-header-row{
  height: 36px !important;
}
tr.mat-row{
  height: 30px !important;
}
.mat-column-action{
  width: 14%;
}
.mat-table .mat-cell{
  font-size: .8rem;
}
.mat-table .mat-icon{
  font-size: 18px;
}

@media (max-width: 599px) {
  .module-default{
    padding: 0 8px;
  }
  .dashboard-content{
    display: block;
  }
  .card{
    height: auto;
    max-height: 320px;
    min-height: 130px;
    margin-bottom: 8px;
  }
}