.indent-table-container th {
    width: 30%;
}

.indent-table-container th:first-child {
    width: 10%;
}

.indent-table-container tr {
    cursor: pointer;
}

.add-item-btn-container {
    display: flex;
    justify-content: flex-end;
}

.items-table-container th {
    width: 10%;
}

.items-table-container th:first-child {
    width: 8%;
}

.items-table-container th:nth-child(2) {
    width: 20%;
}