:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(236, 240, 250);
}

.mat-card{
  max-width: 320px;
  padding: 30px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.04);
}
.login-logo{
  background-color: #fff;;
  color: #3182ce;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 16px;
}
.login-logo .mat-icon{
  font-size: 36px;
  width: auto;
  height: auto;
}
.login-logo h3{
  font-size: 24px;
}
.mat-card-title{
  text-align: center;
  font-size: 20px;
  color: #718096;
}
button{
  float: right;
  background-color: #0162e8;
  color: #fff;
  padding: 0 50px;
}
.mat-form-field-wrapper{
  padding-bottom: .8em;
}
button{
  padding: 4px 50px;
  font-size: 18px;
}