<mat-card>

    <img style="padding: 0 0 20px 50px;" height="50px" class="logo" src="../../../../assets/BuildExelogo-01.jpg" alt="">

    <mat-card-content>

        <mat-card-title>Login</mat-card-title>
        <form id="login-form" [formGroup]="form">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        </form>
        <button form="login-form" (click)="onLoginBtnClick()" type="submit" mat-button>Login</button>

    </mat-card-content>

</mat-card>