<h2 mat-dialog-title class="form-dialog header-color"> Government Project Booking</h2>
<mat-dialog-content class="form-dialog mat-typography dialog-content">
    <div class="form-title">Project Details</div>
    <div class="form-container">
        <div class="form-main">
            <form [formGroup]="modalForms.projectDetails.form">
                <formly-form [model]="modalForms.projectDetails.model" [fields]="modalForms.projectDetails.fields"
                    [options]="modalForms.projectDetails.options" [form]="modalForms.projectDetails.form"></formly-form>
            </form>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="bookingStatusForms"></ng-container>
</mat-dialog-content>
<mat-dialog-actions class="form-dialog" align="end">
    <button (click)="onSaveBtnClick()" mat-button class="save">Save</button>
    <button mat-button (click)="onCancelBtnClick()" cdkFocusInitial class="cancel">Cancel</button>
</mat-dialog-actions>

<ng-template #bookingStatusForms>
    <ng-container [ngSwitch]="selectedProjectStatus">
        <ng-container *ngSwitchCase="projectStatus.TenderSubmitted">
            <ng-container *ngTemplateOutlet="tenderSubmission"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatus.TenderOpened">
            <ng-container *ngTemplateOutlet="openTender"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatus.Negotitated">
            <ng-container *ngTemplateOutlet="tenderNegotiation"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatus.WorkOrder">
            <ng-container *ngTemplateOutlet="workOrder"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #tenderSubmission>
    <div class="form-title">Tender-Submission</div>
    <div class="form-container">
        <div class="form-child">
            <form [formGroup]="modalForms.tenderSubmission.form">
                <formly-form [model]="modalForms.tenderSubmission.model" [fields]="modalForms.tenderSubmission.fields"
                    [options]="modalForms.tenderSubmission.options" [form]="modalForms.tenderSubmission.form">
                </formly-form>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #openTender>

    <div class="form-title">Tender-Submission</div>
    <div class="form-container">
        <div class="form-child">
            <form [formGroup]="modalForms.tenderSubmission.form">
                <formly-form [model]="modalForms.tenderSubmission.model" [fields]="modalForms.tenderSubmission.fields"
                    [options]="modalForms.tenderSubmission.options" [form]="modalForms.tenderSubmission.form">
                </formly-form>
            </form>
        </div>
    </div>

    <div class="form-title">Tender Open-Tender Analysis</div>
    <div class="form-container">
        <div class="form-child">
            <form [formGroup]="modalForms.openTender.form">
                <formly-form [model]="modalForms.openTender.model" [fields]="modalForms.openTender.fields"
                    [options]="modalForms.openTender.options" [form]="modalForms.openTender.form">
                </formly-form>
            </form>
            <button style="float: right;" (click)="onSaveBtnClick()" mat-button class="save">Add</button>
            <table class="table-compnay" mat-table [dataSource]="dataSource">
                <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="column.field !== 'action'">
                            {{element[column.field]}}
                        </ng-container>
                        <ng-container *ngIf="column.field === 'action'">
                            <mat-icon (click)="openDialog(element)">edit</mat-icon>
                            <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
            </table>
            <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    
</ng-template>

<ng-template #tenderNegotiation>
    <div class="form-title">Tender Negotiated Order</div>
    <div class="form-container">
        <div class="form-child">
            <table class="table-compnay" mat-table [dataSource]="dataSource">
                <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="column.field !== 'action'">
                            {{element[column.field]}}
                        </ng-container>
                        <ng-container *ngIf="column.field === 'action'">
                            <mat-icon (click)="openDialog(element)">edit</mat-icon>
                            <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
            </table>
            <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <form [formGroup]="modalForms.tenderNegotiation.form">
                <formly-form [model]="modalForms.tenderNegotiation.model" [fields]="modalForms.tenderNegotiation.fields"
                    [options]="modalForms.tenderNegotiation.options" [form]="modalForms.tenderNegotiation.form">
                </formly-form>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #workOrder>
    <div class="form-title">Work Order</div>
    <div class="form-container">
        <div class="form-child">
            <form [formGroup]="modalForms.workOrder.form">
                <formly-form [model]="modalForms.workOrder.model" [fields]="modalForms.workOrder.fields"
                    [options]="modalForms.workOrder.options" [form]="modalForms.workOrder.form"></formly-form>
            </form>
        </div>
    </div>
</ng-template>