.mat-list-base {
    padding-top: 0;
}

.mat-list-base .mat-list-item {
    color: #424952;
    font-size: 13.4px;
    border-bottom: 1px solid #edf2f7;
    box-sizing: border-box;
    cursor: pointer;
}

.mat-list-base .mat-list-item .mat-list-icon {
    color: #3182ce;
}

.list-item-child {
    padding-left: 38px !important;
}

.list-item-grandchild {
    padding-left: 70px !important;
}

.active-nav,
.active-nav:hover {
    background-color: #3182ce;
    color: #fff !important;
}