<mat-nav-list style="overflow: hidden;">

    <ng-container *ngFor="let mainMenu of sidebarNavBar">

        <mat-list-item class="list-item-parent" (click)="onSelection(mainMenu)">
            <mat-icon matListIcon>dashboard</mat-icon>
            <a matLine>{{ mainMenu.menuName }}</a>
            <button mat-icon-button>
                <mat-icon>{{ mainMenu.showSubItem ? 'expand_more' : 'chevron_right' }}</mat-icon>
            </button>
        </mat-list-item>

        <ng-container *ngIf="mainMenu.showSubItem">

            <ng-container *ngFor="let subMenu of mainMenu.subItem">

                <mat-list-item [class.active-nav]="subMenu.isSelected" (click)="onSelection(subMenu)" class="list-item-child">
                    <mat-icon [style.visibility]="subMenu.subItem ? 'visible' : 'hidden'" matListIcon>
                        {{ subMenu.showSubItem ? 'expand_more' : 'chevron_right' }}</mat-icon>
                    <a matLine style="margin-left: -16px;">{{ subMenu.menuName }}</a>
                </mat-list-item>

                <ng-container *ngIf="subMenu.showSubItem">
                    <mat-list-item (click)="onSelection(subItemChild)" [class.active-nav]="subItemChild.isSelected" class="list-item-grandchild" *ngFor="let subItemChild of subMenu.subItem">
                        <a matLine>{{ subItemChild.menuName }}</a>
                    </mat-list-item>
                </ng-container>

            </ng-container>

        </ng-container>

    </ng-container>

</mat-nav-list>