.mat-list-base {
    padding-top: 0;
}

.mat-list-base .mat-list-item {
    color: #718096;
    font-size: 13px;
    border-bottom: 1px solid #edf2f7;
    box-sizing: border-box;
}

.mat-list-base .mat-list-item .mat-list-icon {
    color: #63B3ED;
}

.list-item-child {
    padding-left: 38px !important;
}

.list-item-grandchild {
    padding-left: 70px !important;
}

.active-nav,
.active-nav:hover {
    background-color: #345c82;
    color: #fff !important;
}