<h2 mat-dialog-title class="form-dialog header-color">{{ this.isEdit ? 'Edit' : 'Add' }} Supplier Payment </h2>
<mat-dialog-content class="form-dialog mat-typography dialog-content">
    <div>
        <div class="form-title">Supplier Payment</div>
        <div class="form-container">
            <div class="form-child">
                <form [formGroup]="modalForms.payment.form">
                    <formly-form [model]="modalForms.payment.model" [fields]="modalForms.payment.fields" [options]="modalForms.payment.options" [form]="modalForms.payment.form">
                    </formly-form>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="form-title">Purchase Details</div>
        <div class="form-container">
            <div class="form-child">
                <form [formGroup]="modalForms.paymentDetails.form">
                    <formly-form [model]="modalForms.paymentDetails.model" [fields]="modalForms.paymentDetails.fields" [options]="modalForms.paymentDetails.options" [form]="modalForms.paymentDetails.form">
                    </formly-form>
                </form>
                <div class="inner-table-container">
                    <table class="table-compnay" mat-table [dataSource]="dataSource">
                        <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns;let firstColumn = first">
                            <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                            <td mat-cell *matCellDef="let element;let i =index">
                                <ng-container *ngIf="firstColumn">
                                    {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
                                </ng-container>
                                <ng-container *ngIf="!firstColumn">
                                    <ng-container *ngIf="column.field !== 'action'">
                                        {{element[column.field]}}
                                    </ng-container>
                                    <ng-container *ngIf=" column.field === 'action'">
                                        <!-- checkbox -->
                                    </ng-container>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="form-dialog" align="end">
    <button (click)="onSaveBtnClick()" mat-button class="save">Save</button>
    <button mat-button (click)="onCancelBtnClick()" cdkFocusInitial class="cancel">Cancel</button>
</mat-dialog-actions>