.app-toolbar {
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, .12);
    display: flex;
    justify-content: space-between;
}

.left {
    font-size: 18px;
    color: #3182ce;
    width: 263px;
    border-right: solid 1px rgba(0, 0, 0, .12);
    height: 100%;
}

.left-title {
    display: inline-block;
    position: relative;
    top: 2px;
}

.btn-toggle {
    color: #3182ce;
}

.btn-logout {
    width: auto;
    margin-left: auto;
    color: #3182ce;
    font-size: 14px;
}

.btn-logout mat-icon {
    margin-left: 4px;
    font-style: 24px;
    color: #3182ce;
}


/* new */

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    height: 100vh;
    width: 100vw;
    padding-top: 60px;
}

mat-sidenav {
    width: 280px;
    top: 60px;
    padding-right: 3px;
}

.logo {
    height: 50%;
    padding-top: 17px;
    padding-left: 11px;
}


/*  */