.app-toolbar {
    background-color: #1d3052;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    height: 100%;
    /* font-size: 18px;
    color: #3182ce;
    width: 263px;
    border-right: solid 1px rgba(0, 0, 0, .12); */
}

.left-title {
    display: inline-block;
    position: relative;
    top: 2px;
}

.btn-toggle {
    color: #cacaca
}

.btn-logout {
    width: auto;
    margin-left: auto;
    color: #cacaca;
    font-size: 14px;
}

.btn-logout mat-icon {
    margin-left: 4px;
    font-style: 24px;
    color: #3182ce;
}


/* new */

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

.mat-sidenav-container {
    height: 100vh;
    width: 100vw;
    padding-top: 64px;
    background-color: #ebeff2;
}

.mat-sidenav {
    width: 280px;
    top: 64px;
}

.logo {
    display: inline-block;
    width: 150px;
    height: auto;
    cursor: pointer;
}
/*override the padding defined in the theme file*/
@media (max-width: 599px){
    .mat-sidenav-container{
        padding-top: 56px;
    }
    .mat-sidenav{
        top: 56px;
    }
    .logo {
        width: 124px;
    }
}