<ng-container *ngIf="showProject">
    <ng-container [ngSwitch]="selectedType">
        <ng-container *ngSwitchCase="'OP'">
            <app-own-project></app-own-project>
        </ng-container>
        <ng-container *ngSwitchCase="'CN'">
            <app-normal-project></app-normal-project>
        </ng-container>
        <ng-container *ngSwitchCase="'CP'">
            <app-normal-project></app-normal-project>
        </ng-container>
        <ng-container *ngSwitchCase="'CG'">
            <app-govt-project></app-govt-project>
        </ng-container>
    </ng-container>
</ng-container>

<ng-container *ngIf="!showProject">
    <h2 style="width: 500px;" mat-dialog-title class="form-dialog header-color">Select Project Type</h2>
    <mat-radio-group class="radio-group" [(ngModel)]="selectedType">
        <mat-radio-button class="radio-button" style="padding: 20px" *ngFor="let project of projectTypes" [value]="project.id">
            {{project.name}}
        </mat-radio-button>
    </mat-radio-group>

    <button style="float: right" (click)="onProceedBtnClick()" mat-button class="save">Proceed</button>
</ng-container>