.load-spec-combobox {
    margin: 0 50px 0 20px;
    width: 30%;
}

button {
    min-width: 80px;
    color: #fff !important;
    font-size: 0.84rem;
    letter-spacing: 0.6px;
    font-weight: 400;
}

button+button {
    margin-left: 12px;
}

.stepper-container {
    max-height: 50vh;
    overflow: auto;
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .stepper-container {
        padding: 20px 4px;
    }
}

table {
    table-layout: fixed;
}

th {
    width: 150px;
}

th:last-child,
th:first-child {
    width: 80px;
}

.container-body {
    height: calc(100% - 40px);
    padding: 20px;
}

.excel-config-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 10px;
    color: #525252;
}

.form-header {
    position: absolute;
    top: -8px;
    color: #3182ce;
    font-size: 14px;
    background-color: #fff;
    padding: 0 10px;
    left: 5%;
}

.excel-config-field-label {
    padding: 20px;
    min-width: 100px;
}

.excel-config-field {
    display: flex;
    margin-right: 20px;
    flex: 1;
}