<div class="project-status-component form-dialog">
    <h2 style="display: flex" mat-dialog-title class="form-dialog header-color">
        <div style="margin-right: auto;">Project Status</div>
        <mat-icon (click)="onCancelBtnClick()" style="padding: 4px;">close</mat-icon>
    </h2>
    <form *ngIf="form" [formGroup]="form">
        <mat-horizontal-stepper>
            <mat-step *ngFor="let step of steps; let index = index; let last = last;">
                <ng-template matStepLabel>{{ step.label }}</ng-template>
                <div class="stepper-container">

                    <ng-container *ngIf="step.id === 'tendernegotiation'">
                        <table class="table-compnay" mat-table [dataSource]="tenderNegotiationDataSource">
                            <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns;let firstColumn = first">
                                <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                                <td mat-cell *matCellDef="let element;let i =index">
                                    <ng-container *ngIf="firstColumn">
                                        {{i+1}}
                                    </ng-container>
                                    <ng-container *ngIf="!firstColumn">
                                        <ng-container *ngIf="column.field !== 'action'">
                                            <ng-container *ngIf="column.field === 'status'">
                                                {{ projectStatusTypes[element[column.field]] }}
                                            </ng-container>
                                            <ng-container *ngIf="column.field !== 'status'">
                                                {{element[column.field]}}
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf=" column.field === 'action'">
                                            <ng-container *ngIf=" column.field === 'action'">
                                                <mat-icon (click)="openDialog(element)">edit</mat-icon>
                                                <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
                        </table>
                    </ng-container>

                    <formly-form [form]="form.at(index)" [model]="model" [fields]="step.fields" [options]="options[index]">
                    </formly-form>

                    <ng-container *ngIf="step.id === 'tenderopen'">
                        <div class="" style="display: flex;justify-content: flex-end;">
                            <button (click)="addTenderAnalysis(index)" mat-button class="save">Add</button>
                        </div>
                        <table class="table-compnay" mat-table [dataSource]="tenderAnalysisDataSource">
                            <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns;let firstColumn = first">
                                <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                                <td mat-cell *matCellDef="let element;let i =index">
                                    <ng-container *ngIf="firstColumn">
                                        {{i+1}}
                                    </ng-container>
                                    <ng-container *ngIf="!firstColumn">
                                        <ng-container *ngIf="column.field !== 'action'">
                                            <ng-container *ngIf="column.field === 'status'">
                                                {{ projectStatusTypes[element[column.field]] }}
                                            </ng-container>
                                            <ng-container *ngIf="column.field !== 'status'">
                                                {{element[column.field]}}
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf=" column.field === 'action'">
                                            <ng-container *ngIf=" column.field === 'action'">
                                                <mat-icon (click)="openDialog(element)">edit</mat-icon>
                                                <mat-icon (click)="openDeleteDialog(element)">delete_outline</mat-icon>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
                        </table>
                    </ng-container>

                </div>
                <div align="end">
                    <button class="button-info" type="button" mat-button *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Back</button>
                    <button class="button-info" type="button" *ngIf="!last" matStepperNext mat-button [disabled]="form.at(index) && !form.at(index).valid" (click)="nextStep(index)">Next</button>
                    <button class="button-success" type="submit" (click)="onSaveBtnClick()" *ngIf="last" mat-button [disabled]="!form.valid">Submit</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>