<div class="module-default">
    <mat-toolbar class="toolbar">
        {{module ? module.displayName : ''}}
    </mat-toolbar>
    <mat-card>
        <mat-card-header>

            <div class="btn-row">
                <div>
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput type="text" (keyup)="doFilter($event.target.value)">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="form-dialog">
                    <button (click)="onApproveBtnClick()" mat-button class="save margin-right-30">Approve</button>
                    <button mat-button (click)="onRejectBtnClick()" cdkFocusInitial class="cancel">Reject</button>
                </div>
            </div>


        </mat-card-header>
        <mat-card-content>
            <table class="table-compnay" mat-table [dataSource]="dataSource">
                <ng-container [matColumnDef]="column.field" *ngFor="let column of tableColumns;let firstColumn = first">
                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                    <td mat-cell *matCellDef="let element;let i =index">
                        <ng-container *ngIf="firstColumn">
                            <mat-radio-button [checked]="element.isSelected"></mat-radio-button>
                        </ng-container>
                        <ng-container *ngIf="!firstColumn">
                            {{element[column.field]}}
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                <tr (click)="onRowSelection(row)" mat-row *matRowDef="let row; columns: dataColumns;"></tr>
            </table>
            <div class="info-text" *ngIf="dataSource && dataSource.data.length < 1 ">
                No orders waiting for approval
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            <table mat-table [dataSource]="itemDatasource">
                <ng-container [matColumnDef]="column.field" *ngFor="let column of itemTableColumns;let firstColumn = first">
                    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
                    <td mat-cell *matCellDef="let element;let i =index">
                        <ng-container *ngIf="firstColumn">
                            {{i+1}}
                        </ng-container>
                        <ng-container *ngIf="!firstColumn">
                            {{ element[column.field] }}
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="itemDataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: itemDataColumns;"></tr>
            </table>
            <div class="info-text" *ngIf="!itemDatasource">
                Please select a material usage to load data
            </div>
            <div class="info-text" *ngIf="itemDatasource && itemDatasource.data.length < 1 ">
                No data
            </div>
            <div *ngIf="itemDatasource && itemDatasource.data.length" class="total-input-box">
                <mat-form-field>
                    <mat-label>Total</mat-label>
                    <input [value]="totalAmount" matInput type="text">
                </mat-form-field>
            </div>

        </mat-card-content>
    </mat-card>
</div>