button {
    width: 150px;
    margin: 0 20px;
    color: #fff !important;
}

tr {
    cursor: pointer;
}

::ng-deep .mat-form-field-infix {
    width: 100px;
}

.client-form-column {
    flex: 1;
    margin-right: 60px;
    max-height: 60vh;
    padding-right: 10px;
    overflow: scroll;
}

.project-booking-stepper-container {
    max-height: 60vh;
    padding-top: 10px;
    min-height: 55vh;
}